body {
	background-color: #333;
	color: #EEE;
	font-family: "Lucida Grande", Tahoma;
	line-height: 1.5;
	margin: 1em auto;
	width: 50em;
}

a {
	color: #8B8;
}

a:visited {
	color: #ABA;
}

a:hover {
	color: #BDB;
}

h1#logo {
	background: url("logo48.png") left center no-repeat;
	padding-left: 58px;
}

dfn {
	border-bottom: 1px dotted #CCC;
	cursor: help;
}

code { padding: 5px 5px 2px 5px; }

code, pre {
	background-color: #111;
	color: #BDB;
	border: 1px solid #666;
	font-family: "Consolas", "Inconsolata", Menlo, monospace;
}

pre code { border: none; padding: 0; }

pre {
	padding: 0.7em;
	max-width: 80ex;
}


code.de-em { color: #686; }

code em {
	color: #BDB;
	font-style: normal;
}

ol {
	margin: 1em 2em;
	padding: 0;
	list-style: decimal outside;
}

p.intro {
	font-weight: bold;
}

li {
	margin-bottom: 1em;
}

.gallery a {
	display: inline-block;
	text-align: center;
	border: 1px solid #666;
	padding: 10px;
	margin: 10px;
	vertical-align: middle;
}

.gallery a:hover {
	border-color: #BDB;
}

.gallery a img {
	display: block;
	margin: 0 auto 0.5em auto;
}
