html {
	background-color: #555;
}

body {
	background-color: #DDD;
	color: #000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
	line-height: 1.5;
	margin: 1em auto;
	width: 45em;
	border-width: 2px;
	border-style: solid;
	border-color: #DDDDDD #CCC #CCC #DDDDDD;
	padding: 1em 2.5em 1em 2em;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3),
		0 -30px 200px rgba(32, 20, 0, 0.2) inset;
	border-radius: 7px;
}

h1, h2, h3 {
	font-family: "Palatino", "Palatino Linotype", Georgia, serif;
}

h1#logo {
	background: url("logo48.png") left center no-repeat;
	padding: 0.5em 0 0.5em 58px;
	border-bottom: 4px solid #CCC;
	margin-top: 0;
}

h2 {
	border-bottom: 2px solid #CCC;
}

a {
	color: #393;
	border-color: #393;
	font-weight: bold;
}

a:visited {
	color: #353;
	border-color: #353;
}

a:hover {
	color: #3C3;
	border-color: #3C3;
}

dfn {
	border-bottom: 1px dotted #CCC;
	cursor: help;
}

code {
	padding: 5px 5px 2px 5px;
}

code, pre, code em {
	background-color: #CCC;
	color: #252;
	border: 1px solid #BBB;
	font-style: normal;
	font-family: "Consolas", "Inconsolata", Menlo, monospace;
	border-radius: 3px;
}

pre code { border: none; padding: 0; }

pre {
	padding: 0.7em;
	max-width: 80ex;
}

code em { border: none; }
code.de-em { color: #787; }

ol {
	margin: 1em 2em;
	padding: 0;
	list-style: decimal outside;
}

p.intro {
	font-weight: bold;
}

li {
	margin-bottom: 1em;
}

.gallery a {
	display: inline-block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	margin: 10px;
	vertical-align: middle;
	text-decoration: none;
}

.gallery a img {
	display: block;
	margin: 0 auto 0.5em auto;
}
