html {
    background-color: #555;
}

body {
    background-color: #DDD;
    color: #000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    line-height: 1.5;
    margin: 1em auto;
    width: 45em;
    border-width: 2px;
    border-style: solid;
    border-color: #DDDDDD #CCC #CCC #DDDDDD;
    padding: 1em 4.5em 1em 4em;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        /*0 -30px 200px rgba(32, 20, 0, 0.2) inset;*/
    border-radius: 7px;
}

h1, h2, h3 {
    font-family: "Palatino", "Palatino Linotype", Georgia, serif;
}

h1#logo {
    background: url("logo48.png") left center no-repeat;
    padding: 0.5em 0 0.5em 58px;
    border-bottom: 4px solid #CCC;
    margin-top: 0;
}

h2 {
    border-bottom: 2px solid #CCC;
}

a {
    color: #393;
    border-color: #393;
    font-weight: bold;
}

a:visited {
    color: #353;
    border-color: #353;
}

a:hover {
    color: #3C3;
    border-color: #3C3;
}

dfn {
    border-bottom: 1px dotted #CCC;
    cursor: help;
}

code {
    padding: 5px 5px 2px 5px;
}

code, pre, code em {
    background-color: #CCC;
    color: #252;
    border: 1px solid #BBB;
    font-style: normal;
    font-family: "Consolas", "Inconsolata", Menlo, monospace;
    border-radius: 3px;
}

pre code { border: none; padding: 0; }

pre {
    padding: 0.7em;
    max-width: 80ex;
}

code em { border: none; }
code.de-em { color: #787; }

ol {
    margin: 1em 2em;
    padding: 0;
    list-style: decimal outside;
}

p.intro {
    font-weight: bold;
}

li {
    margin-bottom: 1em;
}

.gallery {
    overflow: auto;
}

.gallery a {
    display: inline-block;
    vertical-align: middle;
    /*position: relative;*/

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 15px 5px;
    padding: 0.5em;

    top: 0;

    color: #333;
    background-color: #EEE;
    border-color: #FFF #CCC #CCC #FFF;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    font-weight: normal;
    font-size: 12px;
    min-width: 102px;

    text-align: center;
    text-decoration: none;

    /*-o-transition: all .05s linear;*/
    /*-moz-transition: all .05s linear;*/
    /*-webkit-transition: all .05s linear;*/
    /*transition: all .05s linear;*/
}

.gallery a:hover {
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.25);

    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);

    /*top: -3px;*/
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.gallery a img {
    display: block;
    margin: 0 auto 0.5em auto;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #FFF #FFF #CCC;
}
